@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:var(--puis-president-ac-id-1263-3333740234375x541-3333129882812-default-roboto-slab-regular-14-4-font-weight),var(--puis-president-ac-id-1263-3333740234375x541-3333129882812-default-roboto-slab-medium-17-16-font-weight),var(--puis-president-ac-id-1263-3333740234375x541-3333129882812-default-roboto-slab-medium-16-upper-font-weight),400,500,var(--puis-president-ac-id-1263-3333740234375x541-3333129882812-default-roboto-slab-regular-12-8-font-weight),var(--puis-president-ac-id-1263-3333740234375x541-3333129882812-default-roboto-slab-medium-10-53-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
