.frame-child {
    height: 41px;
    width: 120px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--pll-harvard-edu-catalog-1440x810-default-rhino);
    display: none;
    z-index: 1;
  }
  .u-turn-to-left {
    height: 25px;
    width: 54px;
    position: relative;
    object-fit: cover;
    min-height: 25px;
    z-index: 1;
  }
  .back {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 45px;
    white-space: nowrap;
    z-index: 2;
  }
  .back-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
    margin-left: -4px;
  }
  .back-wrapper,
  .frame-wrapper,
  .rectangle-parent {
    display: flex;
    align-items: flex-start;
  }
  .rectangle-parent {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--pll-harvard-edu-catalog-1440x810-default-rhino);
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-10xs);
    flex-shrink: 0;
    debug_commit: 2554057;
    cursor: pointer;
  }
  .frame-wrapper {
    height: 42.6px;
    width: 120px;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--padding-0) var(--padding-0) 1.6000000000000227px;
    box-sizing: border-box;
  }
  .choose-your-plan {
    margin: 0;
    width: 1200px;
    position:relative;
    font-size: inherit;
    line-height: 47px;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 0;
    debug_commit: 2554057; */
  }
  .choose-your-plan-wrapper {
    width: 1139px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    /* padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-0);
    box-sizing: border-box; */
    max-width: 100%;
    text-align: center;
    font-size: var(
      --www-harvardonline-harvard-edu-1440x810-default-newsreader-regular-42-size
    );
    color: var(--pll-harvard-edu-catalog-1440x810-default-rhino);
    font-family: var(
      --www-harvardonline-harvard-edu-1440x810-default-newsreader-regular-42
    );
  }
  .divsection-background-eight-inner,
  .frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
  }
  .divsection-background-eight-inner {
    align-items: flex-start;
    padding: var(--padding-0) 61px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
    font-family: var(--font-inter);
  }
  .before-icon {
    height: 905.7px;
    width: 180px;
    position: absolute;
    margin: 0 !important;
    top: -151.6px;
    right: 0;
    object-fit: cover;
  }
  .divcellmargin {
    position: absolute;
    top: 0;
    left: 445px;
    width: 310px;
    display: none;
  }
  .link {
    top: 98.4px;
    width: 332px;
    height: 47px;
  }
  .link,
  .ph2d-77b8ca73,
  .ph2d-8509e97b {
    position: absolute;
    left: 155px;
    display: none;
  }
  .ph2d-8509e97b {
    top: 210.8px;
    width: 809.9px;
    height: 30px;
  }
  .ph2d-77b8ca73 {
    top: 290.8px;
    width: 890px;
  }
  .divparagraph-inner {
    height: 762.9px;
    width: 1200px;
    position: absolute;
    margin: 0 !important;
    bottom: -70.9px;
    left: calc(50% - 600px);
    z-index: 1;
  }
  .tambahkan-periode-langganan {
    margin: 0;
    width: 596px;
    position: relative;
    font-size: inherit;
    line-height: 36px;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1152px;
  }
  .tambahkan-periode-langganan-d-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-0) var(--padding-2xl) var(--padding-0)
      var(--padding-xl);
  }
  .kamu-bisa-memperpanjang {
    width: 100%;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 24px;
    display: inline-block;
    max-width: 1152px;
  }
  .tree-leaves,
  .tree-leaves-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .tree-leaves {
    width: 941px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tree-leaves-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-0) var(--padding-xl) var(--padding-0)
      var(--padding-2xl);
    box-sizing: border-box;
  }
  .bulan {
    position: relative;
    line-height: 36px;
    font-weight: 600;
    display: inline-block;
    min-width: 96px;
  }
  .divh2d-faf0a6fc,
  .pmuitypography-root {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divh2d-faf0a6fc {
    padding: var(--padding-0) var(--padding-0) 1.2999999999999543px;
  }
  .strikethrough-rp-4200000 {
    position: relative;
    text-decoration: line-through;
    line-height: 19.5px;
    display: inline-block;
    min-width: 82px;
    max-height: 19.5px;
  }
  .pmuitypography-root1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rp-179000 {
    position: relative;
    line-height: 40px;
  }
  .pmuitypography-root2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-13xl);
  }
  .untuk-akses-semua {
    position: relative;
    line-height: 19.5px;
    display: inline-block;
    max-height: 19.5px;
  }
  .divh2d-f0fc6ff1,
  .divh2d-f0fc6ff1margin,
  .divmuicardcontent-root,
  .divmuistack-root,
  .pmuitypography-root3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divh2d-f0fc6ff1margin {
    padding: var(--padding-base) var(--padding-0) var(--padding-0);
    font-size: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13-size
    );
  }
  .divmuicardcontent-root,
  .divmuistack-root {
    padding: var(--padding-0) var(--padding-0) 5.684341886080803e-14px;
  }
  .divmuicardcontent-root {
    background-color: var(--color-darkslateblue);
    padding: var(--padding-5xl);
  }
  .svg-icon {
    height: 18px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .divmuilistitemicon-root,
  .divmuilistitemicon-rootmargi {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divmuilistitemicon-root {
    height: 18px;
    flex-direction: row;
  }
  .divmuilistitemicon-rootmargi {
    flex-direction: column;
    padding: var(--padding-0) var(--padding-base) var(--padding-0)
      var(--padding-0);
  }
  .materi-video {
    position: relative;
    line-height: 24px;
  }
  .spanmuitypography-root {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
  }
  .divmuilistitemtext-root,
  .item,
  .spanmuitypography-root {
    display: flex;
    justify-content: flex-start;
  }
  .divmuilistitemtext-root {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 170px;
  }
  .item {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .svg-icon1 {
    height: 18px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .divmuilistitemicon-root1,
  .divmuilistitemicon-rootmargi1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divmuilistitemicon-root1 {
    height: 18px;
    flex-direction: row;
  }
  .divmuilistitemicon-rootmargi1 {
    flex-direction: column;
    padding: var(--padding-0) var(--padding-base) var(--padding-0)
      var(--padding-0);
  }
  .modul-praktik-portfolio {
    position: relative;
    line-height: 24px;
  }
  .spanmuitypography-root1 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-0) var(--padding-18xl) var(--padding-0)
      var(--padding-0);
  }
  .divmuilistitemtext-root1,
  .item1,
  .spanmuitypography-root1 {
    display: flex;
    justify-content: flex-start;
  }
  .divmuilistitemtext-root1 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 170px;
  }
  .item1 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .svg-icon2 {
    height: 18px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .divmuilistitemicon-root2,
  .divmuilistitemicon-rootmargi2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divmuilistitemicon-root2 {
    height: 18px;
    flex-direction: row;
  }
  .divmuilistitemicon-rootmargi2 {
    flex-direction: column;
    padding: var(--padding-0) var(--padding-base) var(--padding-0)
      var(--padding-0);
  }
  .sertifikat-di-tiap {
    position: relative;
    line-height: 24px;
  }
  .divmuilistitemtext-root2,
  .spanmuitypography-root2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .spanmuitypography-root2 {
    align-self: stretch;
  }
  .divmuilistitemtext-root2 {
    flex: 1;
    min-width: 168px;
  }
  .item2,
  .list {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .item2 {
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .list {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-5xs) var(--padding-0);
  }
  .subscription {
    width: 92px;
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 23px;
    text-transform: capitalize;
    display: flex;
    font-family: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13
    );
    color: var(--myskill-id-e-learning-1440x810-default-ebony-clay);
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 92px;
  }
  .link1,
  .link1:hover {
    box-sizing: border-box;
  }
  .link1 {
    cursor: pointer;
    border: 1px solid var(--myskill-id-e-learning-1440x810-default-blue-chill-50);
    padding: 11.799999999999985px var(--padding-xl) 13.200000000000015px
      var(--padding-2xl);
    background-color: var(--color-lightcyan);
    width: 261.3px;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-width: 64px;
  }
  .link1:hover {
    background-color: var(--color-lightblue);
    border: 1px solid rgba(36, 173, 184, 0.5);
  }
  .segera-habis {
    position: relative;
    line-height: 19.5px;
    display: inline-block;
    min-width: 104px;
    max-height: 19.5px;
  }
  .spanmuilinearprogress-bar {
    margin-left: -92.80000000000018px;
    height: 4px;
    flex: 1;
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--myskill-id-e-learning-1440x810-default-verdun-green);
  }
  .progressbar,
  .segera-habis-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .progressbar {
    border-radius: var(--br-9xs);
    background-color: var(
      --myskill-id-e-learning-1440x810-default-chartreuse-yellow
    );
    overflow: hidden;
    flex-direction: row;
  }
  .segera-habis-parent {
    flex-direction: column;
  }
  .link-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .frame-container,
  .link-parent,
  .list-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-container {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-4xs) var(--padding-0)
      var(--padding-3xs-5);
    font-size: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13-size
    );
    color: var(--myskill-id-e-learning-1440x810-default-aqua-deep);
  }
  .list-parent {
    flex: 1;
    flex-direction: column;
    gap: 32.00000000000003px;
    max-width: 100%;
  }
  .divmuipaper-root-inner {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-3xl) var(--padding-0)
      var(--padding-3xl-5);
    max-width: 100%;
    font-size: var(--font-size-base);
    color: var(--myskill-id-e-learning-1440x810-default-ebony-clay);
  }
  .divmuigrid-root,
  .divmuipaper-root,
  .divmuipaper-root-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .divmuipaper-root {
    flex: 1;
    border-radius: var(--br-base);
    background-color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
    box-shadow: 0 0 2px rgba(145, 158, 171, 0.2),
      0 12px 24px -4px rgba(145, 158, 171, 0.12);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-0) var(--padding-0) 20.00000000000003px;
    gap: 23.999999999999943px;
    max-width: 100%;
  }
  .divmuigrid-root {
    margin-left: -389.3000000000002px;
    width: 389.3px;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-0) 110.99999999999994px
      var(--padding-base);
    min-width: 389.3000000000002px;
    max-width: 389.33294677734375px;
    flex-shrink: 0;
    debug_commit: 2554057;
  }
  .logic-gate,
  .terpopuler {
    display: flex;
    justify-content: center;
  }
  .terpopuler {
    width: 125px;
    position: relative;
    line-height: 27px;
    text-transform: uppercase;
    align-items: center;
    min-width: 125px;
  }
  .logic-gate {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-0) var(--padding-xl);
  }
  .bulan1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 36px;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 87px;
  }
  .divh2d-1584b14a,
  .pmuitypography-root4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divh2d-1584b14a {
    padding: var(--padding-0) var(--padding-0) 1.3000000000000114px;
  }
  .strikethrough-rp-2100000 {
    position: relative;
    text-decoration: line-through;
    line-height: 19.5px;
    display: inline-block;
    min-width: 79px;
    max-height: 19.5px;
  }
  .pmuitypography-root5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rp-99000 {
    position: relative;
    line-height: 40px;
  }
  .pmuitypography-root6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-13xl);
  }
  .untuk-akses-semua1 {
    position: relative;
    line-height: 19.5px;
    display: inline-block;
    max-height: 19.5px;
  }
  .divh2d-e8c360a7,
  .divh2d-e8c360a7margin,
  .divmuicardcontent-root1,
  .divmuistack-root1,
  .pmuitypography-root7 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divh2d-e8c360a7margin {
    padding: var(--padding-base) var(--padding-0) var(--padding-0);
    z-index: 1;
    font-size: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13-size
    );
  }
  .divmuicardcontent-root1,
  .divmuistack-root1 {
    padding: var(--padding-0) var(--padding-0) 5.684341886080803e-14px;
  }
  .divmuicardcontent-root1 {
    background-color: #5b93ff;
    padding: var(--padding-5xl);
  }
  .divmuilistitemicon-rootmargi3 {
    margin: 0;
    height: 18px;
    width: 34px;
  }
  .materi-video1 {
    position: relative;
    line-height: 24px;
  }
  .spanmuitypography-root3 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
  }
  .divmuilistitemtext-root3,
  .item3,
  .spanmuitypography-root3 {
    display: flex;
    justify-content: flex-start;
  }
  .divmuilistitemtext-root3 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 168px;
  }
  .item3 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .divmuilistitemicon-rootmargi4 {
    margin: 0;
    height: 18px;
    width: 34px;
  }
  .modul-praktik-portfolio1 {
    position: relative;
    line-height: 24px;
  }
  .spanmuitypography-root4 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-0) 33px var(--padding-0) var(--padding-0);
  }
  .divmuilistitemtext-root4,
  .item4,
  .spanmuitypography-root4 {
    display: flex;
    justify-content: flex-start;
  }
  .divmuilistitemtext-root4 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 168px;
  }
  .item4 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .divmuilistitemicon-rootmargi5 {
    margin: 0;
    height: 18px;
    width: 34px;
  }
  .sertifikat-di-tiap1 {
    position: relative;
    line-height: 24px;
  }
  .divmuilistitemtext-root5,
  .spanmuitypography-root5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .spanmuitypography-root5 {
    align-self: stretch;
  }
  .divmuilistitemtext-root5 {
    flex: 1;
    min-width: 166px;
  }
  .item5,
  .list1 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .item5 {
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .list1 {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-5xs) var(--padding-0);
  }
  .link2,
  .subscription1 {
    display: flex;
    justify-content: center;
  }
  .subscription1 {
    width: 92px;
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 23px;
    text-transform: capitalize;
    font-family: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13
    );
    color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
    text-align: center;
    align-items: center;
    min-width: 92px;
  }
  .link2 {
    cursor: pointer;
    border: 0;
    padding: 11.799999999999985px var(--padding-xl) 13.200000000000015px
      var(--padding-2xl);
    background-color: var(--myskill-id-e-learning-1440x810-default-verdun-green);
    width: 257.3px;
    border-radius: var(--br-5xs);
    box-shadow: 0 8px 16px rgba(10, 147, 158, 0.24);
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    min-width: 64px;
  }
  .link2:hover {
    background-color: #4d80ff;
  }
  .segera-habis1 {
    position: relative;
    line-height: 19.5px;
    display: inline-block;
    min-width: 104px;
    max-height: 19.5px;
  }
  .spanmuilinearprogress-bar1 {
    margin-left: -91.60000000000036px;
    height: 4px;
    flex: 1;
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--myskill-id-e-learning-1440x810-default-verdun-green);
  }
  .progressbar1,
  .segera-habis-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .progressbar1 {
    border-radius: var(--br-9xs);
    background-color: var(
      --myskill-id-e-learning-1440x810-default-chartreuse-yellow
    );
    overflow: hidden;
    flex-direction: row;
  }
  .segera-habis-group {
    flex-direction: column;
  }
  .circle {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .circle,
  .circle-wrapper,
  .image-holder {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .circle-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-4xs) var(--padding-0)
      var(--padding-3xs-5);
    font-size: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13-size
    );
    color: var(--myskill-id-e-learning-1440x810-default-aqua-deep);
  }
  .image-holder {
    flex: 1;
    flex-direction: column;
    gap: 32.00000000000003px;
    max-width: 100%;
  }
  .divmuipaper-root1,
  .image-holder-wrapper {
    align-self: stretch;
    align-items: flex-start;
    max-width: 100%;
  }
  .image-holder-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-0) var(--padding-3xl) var(--padding-0)
      var(--padding-3xl-5);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--myskill-id-e-learning-1440x810-default-ebony-clay);
  }
  .divmuipaper-root1 {
    border-radius: var(--br-base);
    background-color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
    box-shadow: 0 0 2px rgba(145, 158, 171, 0.2),
      0 12px 24px -4px rgba(145, 158, 171, 0.12);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-0) var(--padding-0) 20.00000000000003px;
    gap: 23.999999999999943px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
  }
  .divmuibox-root1,
  .divmuigrid-root1,
  .divmuipaper-root1 {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .divmuibox-root1 {
    flex: 1;
    border-radius: 20px;
    background-color: #fe9a30;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px var(--padding-11xs) var(--padding-11xs);
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .divmuigrid-root1 {
    width: 389.3px;
    flex-shrink: 0;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-0) var(--padding-0) 63.99999999999994px
      var(--padding-base);
    max-width: 389.33294677734375px;
  }
  .bulan2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 36px;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 82px;
  }
  .divh2d-2c19b963,
  .pmuitypography-root8 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divh2d-2c19b963 {
    padding: var(--padding-0) var(--padding-0) 1.2999999999999543px;
  }
  .strikethrough-rp-350000 {
    position: relative;
    text-decoration: line-through;
    line-height: 19.5px;
    display: inline-block;
    min-width: 71px;
    max-height: 19.5px;
  }
  .pmuitypography-root9 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rp-29000 {
    position: relative;
    line-height: 40px;
  }
  .pmuitypography-root10 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-13xl);
  }
  .untuk-akses-semua2 {
    position: relative;
    line-height: 19.5px;
    display: inline-block;
    max-height: 19.5px;
  }
  .pmuitypography-root11 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-0) var(--padding-9xs) var(--padding-0) var(--padding-0);
  }
  .divh2d-96c10ef9,
  .divh2d-96c10ef9margin,
  .divmuicardcontent-root2,
  .divmuistack-root2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divh2d-96c10ef9margin {
    padding: var(--padding-base) var(--padding-0) var(--padding-0);
    flex-shrink: 0;
    font-size: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13-size
    );
  }
  .divmuicardcontent-root2,
  .divmuistack-root2 {
    padding: var(--padding-0) var(--padding-0) 5.684341886080803e-14px;
  }
  .divmuicardcontent-root2 {
    background-color: var(--color-darkslateblue);
    padding: var(--padding-5xl);
    flex-shrink: 0;
  }
  .svg-icon3 {
    height: 18px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .divmuilistitemicon-root3,
  .divmuilistitemicon-rootmargi6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divmuilistitemicon-root3 {
    height: 18px;
    flex-direction: row;
  }
  .divmuilistitemicon-rootmargi6 {
    flex-direction: column;
    padding: var(--padding-0) var(--padding-base) var(--padding-0)
      var(--padding-0);
  }
  .materi-video2 {
    position: relative;
    line-height: 24px;
  }
  .spanmuitypography-root6 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
  }
  .divmuilistitemtext-root6,
  .item6,
  .spanmuitypography-root6 {
    display: flex;
    justify-content: flex-start;
  }
  .divmuilistitemtext-root6 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 168px;
  }
  .item6 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .svg-icon4 {
    height: 18px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .divmuilistitemicon-root4,
  .divmuilistitemicon-rootmargi7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divmuilistitemicon-root4 {
    height: 18px;
    flex-direction: row;
  }
  .divmuilistitemicon-rootmargi7 {
    flex-direction: column;
    padding: var(--padding-0) var(--padding-base) var(--padding-0)
      var(--padding-0);
  }
  .modul-praktik-portfolio2 {
    position: relative;
    line-height: 24px;
  }
  .spanmuitypography-root7 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-0) var(--padding-18xl) var(--padding-0)
      var(--padding-0);
  }
  .divmuilistitemtext-root7,
  .item7,
  .spanmuitypography-root7 {
    display: flex;
    justify-content: flex-start;
  }
  .divmuilistitemtext-root7 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 168px;
  }
  .item7 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .svg-icon5 {
    height: 18px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .divmuilistitemicon-root5,
  .divmuilistitemicon-rootmargi8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divmuilistitemicon-root5 {
    height: 18px;
    flex-direction: row;
  }
  .divmuilistitemicon-rootmargi8 {
    flex-direction: column;
    padding: var(--padding-0) var(--padding-base) var(--padding-0)
      var(--padding-0);
  }
  .sertifikat-di-tiap2 {
    position: relative;
    line-height: 24px;
  }
  .divmuilistitemtext-root8,
  .spanmuitypography-root8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .spanmuitypography-root8 {
    align-self: stretch;
  }
  .divmuilistitemtext-root8 {
    flex: 1;
    min-width: 168px;
  }
  .item8,
  .list2 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .item8 {
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
    row-gap: 20px;
  }
  .list2 {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-5xs) var(--padding-0);
  }
  .subscription2 {
    width: 92px;
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 23px;
    text-transform: capitalize;
    display: flex;
    font-family: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13
    );
    color: var(--myskill-id-e-learning-1440x810-default-ebony-clay);
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 92px;
  }
  .link3,
  .link3:hover {
    box-sizing: border-box;
  }
  .link3 {
    cursor: pointer;
    border: 1px solid #71c5ce;
    padding: 11.799999999999985px var(--padding-xl) 13.200000000000015px
      var(--padding-2xl);
    background-color: var(--color-lightcyan);
    width: 261.3px;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-width: 64px;
  }
  .link3:hover {
    background-color: var(--color-lightblue);
    border: 1px solid #3d919c;
  }
  .segera-habis2 {
    position: relative;
    line-height: 19.5px;
    display: inline-block;
    min-width: 104px;
    max-height: 19.5px;
  }
  .spanmuilinearprogress-bar2 {
    margin-left: -92.79999999999971px;
    height: 4px;
    flex: 1;
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--myskill-id-e-learning-1440x810-default-verdun-green);
  }
  .progressbar2,
  .segera-habis-container {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .progressbar2 {
    border-radius: var(--br-9xs);
    background-color: var(
      --myskill-id-e-learning-1440x810-default-chartreuse-yellow
    );
    overflow: hidden;
    flex-direction: row;
  }
  .segera-habis-container {
    flex-direction: column;
  }
  .link-group {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .frame-div,
  .link-group,
  .list-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-5xs);
    font-size: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13-size
    );
    color: var(--myskill-id-e-learning-1440x810-default-aqua-deep);
  }
  .list-group {
    flex: 1;
    flex-direction: column;
    gap: 32.00000000000003px;
    max-width: 100%;
  }
  .divmuipaper-root-child {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-5xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-base);
    color: var(--myskill-id-e-learning-1440x810-default-ebony-clay);
  }
  .data-aggregator,
  .divmuigrid-root2,
  .divmuipaper-root-child,
  .divmuipaper-root2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divmuipaper-root2 {
    flex: 1;
    border-radius: var(--br-base);
    background-color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
    box-shadow: 0 0 2px rgba(145, 158, 171, 0.2),
      0 12px 24px -4px rgba(145, 158, 171, 0.12);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-0) var(--padding-0) 20.00000000000003px;
    box-sizing: border-box;
    gap: 23.999999999999943px;
    max-width: 100%;
  }
  .data-aggregator,
  .divmuigrid-root2 {
    flex-shrink: 0;
    flex-direction: row;
  }
  .divmuigrid-root2 {
    width: 389.3px;
    padding: var(--padding-0) var(--padding-0) 110.99999999999994px
      var(--padding-base);
    box-sizing: border-box;
    max-width: 389.33294677734375px;
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
  }
  .data-aggregator {
    width: 778.6px;
    overflow-x: auto;
    min-width: 778.5999999999999px;
    debug_commit: 2554057;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--myskill-id-e-learning-1440x810-default-ebony-clay);
  }
  .divmuibox-root,
  .divmuicontainer-root {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .divmuibox-root {
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-0) 0.09999999999990904px 54.700000000000045px
      373.3000000000002px;
    row-gap: 20px;
    max-width: 100%;
    text-align: left;
    color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
  }
  .divmuicontainer-root {
    width: 1200px;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px var(--padding-5xl);
    gap: 16px;
    max-width: 1200px;
    flex-shrink: 0;
  }
  .divsubscription {
    height: 722px;
    flex: 1;
    background-color: var(
      --myskill-id-e-learning-1440x810-default-chartreuse-yellow
    );
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-0) var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 2;
  }
  .before-parent,
  .divsection-background-eight {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .before-parent {
    flex-direction: row;
    position: relative;
  }
  .divsection-background-eight {
    overflow: hidden;
    flex-direction: column;
    padding: 54.60000000000002px var(--padding-0) 32.39999999999998px;
    box-sizing: border-box;
    gap: 50px;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--myskill-id-e-learning-1440x810-default-ebony-clay);
    font-family: var(
      --myskill-id-e-learning-1440x810-default-public-sans-bold-13
    );
  }
  .before-icon1 {
    position: absolute;
    height: calc(100% + 0.2px);
    top: 0;
    right: 0;
    bottom: -0.2px;
    max-height: 100%;
    width: 180px;
    object-fit: cover;
  }
  .benefit-of-being {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 46.2px;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 1200px;
    max-height: 46.20000076293945px;
  }
  .ph2d-25ee1d3e {
    width: 890px;
    height: 30px;
    position: relative;
    display: none;
    max-width: 100%;
  }
  .access-all-courses {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-10xl);
  }
  .access-all-courses-container {
    position: relative;
    line-height: 32px;
    display: inline-block;
    max-width: 810px;
  }
  .divfield-item {
    width: 810px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .arrow-circlesvg-icon {
    width: 20px;
    height: 21px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    transform: rotate(-180deg);
  }
  .arrow-circlesvg-fill {
    height: 21px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .after,
  .button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .after {
    margin: 0 !important;
    position: absolute;
    height: 28.65%;
    top: 64.39%;
    right: 0;
    bottom: 6.96%;
    flex-direction: column;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .button {
    align-self: stretch;
    border-top: 0.7px solid
      var(--www-harvardonline-harvard-edu-1440x810-default-alto);
    border-bottom: 0.7px solid
      var(--www-harvardonline-harvard-edu-1440x810-default-alto);
    box-sizing: border-box;
    flex-direction: row;
    padding: 20.700000000000017px var(--padding-xl) 20.59999999999997px;
    position: relative;
    max-width: 100%;
  }
  .access-chat-feature {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-10xl);
  }
  .access-chat-feature-container {
    position: relative;
    line-height: 32px;
    display: inline-block;
    max-width: 810px;
  }
  .divfield-item1 {
    width: 810px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .arrow-circlesvg-icon1 {
    width: 20px;
    height: 21px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    transform: rotate(-180deg);
  }
  .arrow-circlesvg-fill1 {
    height: 21px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .after1,
  .button1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .after1 {
    margin: 0 !important;
    position: absolute;
    height: 28.89%;
    top: 63.96%;
    right: 0;
    bottom: 7.15%;
    flex-direction: column;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .button1 {
    align-self: stretch;
    border-bottom: 0.7px solid
      var(--www-harvardonline-harvard-edu-1440x810-default-alto);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-xl) var(--padding-xl) 20.69999999999999px;
    position: relative;
    max-width: 100%;
  }
  .get-the-certificate {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-10xl);
  }
  .get-the-certificate-container {
    position: relative;
    line-height: 32px;
    display: inline-block;
    max-width: 810px;
  }
  .divfield-item2 {
    width: 810px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .divfield-item3 {
    height: 32px;
    width: 810px;
    max-width: 100%;
  }
  .arrow-circlesvg-icon2 {
    width: 20px;
    height: 21px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    transform: rotate(-180deg);
  }
  .arrow-circlesvg-fill2 {
    height: 21px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .after2,
  .button2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .after2 {
    margin: 0 !important;
    position: absolute;
    height: 28.89%;
    top: 63.96%;
    right: 0;
    bottom: 7.15%;
    flex-direction: column;
    transform: rotate(180deg);
    transform-origin: 0 0;
    z-index: 1;
  }
  .button2 {
    align-self: stretch;
    border-bottom: 0.7px solid
      var(--www-harvardonline-harvard-edu-1440x810-default-alto);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-xl) var(--padding-0) 20.69999999999999px
      var(--padding-xl);
    position: relative;
    row-gap: 20px;
    max-width: 100%;
  }
  .divfield {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-0) var(--padding-0) var(--padding-0);
    max-width: 100%;
    flex-shrink: 0;
  }
  .arc,
  .divfield,
  .divgrid-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .arc {
    width: 994px;
    flex-direction: row;
    padding: var(--padding-0) 52px;
    max-width: 100%;
    font-size: var(--font-size-3xl);
    color: var(--www-harvardonline-harvard-edu-1440x810-default-cod-gray);
    font-family: var(--font-manrope);
  }
  .divgrid-container {
    position: absolute;
    top: 50px;
    left: 80px;
    width: 1280px;
    flex-direction: column;
    padding: var(--padding-0) 40px 126.90000000000008px;
    gap: 54.400000000000006px;
    max-width: 1280px;
    z-index: 1;
  }
  .divsection-background-eight1,
  .logopng-icon {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .divsection-background-eight1 {
    align-self: stretch;
    height: 497px;
    max-width: 100%;
    text-align: left;
    font-size: var(
      --www-harvardonline-harvard-edu-1440x810-default-newsreader-regular-42-size
    );
    color: var(--www-harvardonline-harvard-edu-1440x810-default-mexican-red);
    font-family: var(
      --www-harvardonline-harvard-edu-1440x810-default-newsreader-regular-42
    );
  }
  .logopng-icon {
    width: 72px;
    height: 72px;
    object-fit: cover;
  }
  .e-course,
  .president-university {
    margin: 0;
    align-self: stretch;
    height: 45px;
    position: relative;
    font-size: inherit;
    line-height: 20px;
    font-weight: 600;
    font-family: inherit;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .e-course {
    margin: -4px 0 0;
  }
  .branching-comparator {
    flex: 1;
    flex-direction: column;
  }
  .branching-comparator,
  .data-aggregator1,
  .formula-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .data-aggregator1 {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-0) var(--padding-0)
      var(--padding-11xs);
  }
  .formula-field {
    width: 252px;
    height: 164px;
    flex-direction: column;
    gap: 6px;
  }
  .link-accessibility {
    position: relative;
    line-height: 16px;
    font-weight: 300;
    display: inline-block;
    min-width: 98px;
    max-width: 433.3299865722656px;
  }
  .item9,
  .itemmargin {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-0);
  }
  .itemmargin {
    padding: var(--padding-0) var(--padding-0) var(--padding-5xl);
  }
  .link-privacy {
    position: relative;
    line-height: 16px;
    font-weight: 300;
    display: inline-block;
    min-width: 110px;
    max-width: 433.3299865722656px;
  }
  .item10,
  .itemmargin1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-0);
  }
  .itemmargin1 {
    padding: var(--padding-0) var(--padding-0) var(--padding-5xl);
  }
  .link-terms {
    position: relative;
    line-height: 16px;
    font-weight: 300;
    display: inline-block;
    min-width: 103px;
    max-width: 433.3299865722656px;
  }
  .item11,
  .itemmargin2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-0);
  }
  .itemmargin2 {
    padding: var(--padding-0) var(--padding-0) var(--padding-5xl);
  }
  .link-eea {
    position: relative;
    line-height: 16px;
    font-weight: 300;
    display: inline-block;
    max-width: 433.3299865722656px;
  }
  .item12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-0);
  }
  .itemmargin3 {
    align-self: stretch;
    padding: var(--padding-0) var(--padding-0) var(--padding-5xl);
  }
  .divsecond-region-wrapper,
  .itemmargin3,
  .navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .navigation-list {
    align-self: stretch;
  }
  .divsecond-region-wrapper {
    flex: 1;
    max-width: 100%;
  }
  .choose-plan,
  .footer-site-footer,
  .value-filter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .value-filter {
    width: 437.3px;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-11xs);
    max-width: 100%;
    font-size: var(--font-size-base);
    font-family: var(--font-merriweather);
  }
  .choose-plan,
  .footer-site-footer {
    flex-direction: column;
  }
  .footer-site-footer {
    align-self: stretch;
    background-color: var(--pll-harvard-edu-catalog-1440x810-default-cod-gray);
    padding: 58px 68px 48px;
    gap: 30px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--pll-harvard-edu-catalog-1440x810-default-nero);
    font-family: var(--font-rubik);
  }
  .choose-plan {
    width: 100%;
    height: 1911px;
    position: relative;
    background-color: var(--www-harvardonline-harvard-edu-1440x810-default-white);
    padding: 1px var(--padding-0) 507px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1425px) {
    .divsection-background-eight-inner {
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
    .divmuigrid-root {
      width: 100%;
    }
    .data-aggregator {
      flex: 1;
      min-width: 100%;
    }
    .divmuibox-root {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 186px;
      box-sizing: border-box;
    }
    .divmuicontainer-root {
      max-width: 100%;
    }
    .divsubscription {
      height: auto;
    }
    .benefit-of-being {
      max-width: 100%;
    }
    .button2 {
      flex-wrap: wrap;
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .divgrid-container {
      max-width: 100%;
    }
    .divsection-background-eight1 {
      height: auto;
      min-height: 497;
    }
    .choose-plan {
      height: auto;
    }
  }
  @media screen and (max-width: 1200px) {
    .kamu-bisa-memperpanjang,
    .tambahkan-periode-langganan {
      max-width: 100%;
    }
    .divmuigrid-root {
      min-width: 100%;
    }
    .divsection-background-eight {
      padding-top: 35px;
      padding-bottom: var(--padding-2xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 825px) {
    .rp-179000 {
      font-size: var(--font-size-7xl);
      line-height: 32px;
    }
    .divmuigrid-root {
      padding-bottom: var(--padding-53xl);
      box-sizing: border-box;
    }
    .rp-99000 {
      font-size: var(--font-size-7xl);
      line-height: 32px;
    }
    .divmuigrid-root1 {
      padding-bottom: 42px;
      box-sizing: border-box;
    }
    .rp-29000 {
      font-size: var(--font-size-7xl);
      line-height: 32px;
    }
    .divmuigrid-root2 {
      padding-bottom: var(--padding-53xl);
      box-sizing: border-box;
    }
    .divmuibox-root {
      padding-left: 93px;
      padding-bottom: 36px;
      box-sizing: border-box;
    }
    .divmuicontainer-root {
      padding-top: var(--padding-2xl);
      padding-bottom: var(--padding-2xl);
      box-sizing: border-box;
    }
    .divsection-background-eight {
      gap: 25px 50px;
    }
    .benefit-of-being {
      font-size: 34px;
      line-height: 37px;
    }
    .access-all-courses-container,
    .access-chat-feature-container,
    .get-the-certificate-container {
      max-width: 100%;
    }
    .footer-site-footer {
      gap: 15px 30px;
      padding: 38px 34px 31px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .bulan,
    .rp-179000,
    .tambahkan-periode-langganan {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .rp-179000 {
      line-height: 24px;
    }
    .item,
    .item1,
    .item2 {
      flex-wrap: wrap;
    }
    .list-parent {
      gap: 16px 32px;
    }
    .divmuigrid-root {
      max-width: 100%;
    }
    .bulan1,
    .rp-99000 {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .rp-99000 {
      line-height: 24px;
    }
    .item3,
    .item4,
    .item5 {
      flex-wrap: wrap;
    }
    .divmuigrid-root1 {
      max-width: 100%;
    }
    .bulan2,
    .rp-29000 {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .rp-29000 {
      line-height: 24px;
    }
    .item6,
    .item7,
    .item8 {
      flex-wrap: wrap;
    }
    .divmuigrid-root2 {
      max-width: 100%;
    }
    .divmuibox-root {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
    .divsection-background-eight {
      padding-top: 23px;
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .benefit-of-being {
      font-size: 25px;
      line-height: 28px;
    }
    .access-all-courses-container,
    .access-chat-feature-container,
    .get-the-certificate-container {
      font-size: var(--font-size-lg);
      line-height: 26px;
    }
    .e-course,
    .president-university {
      font-size: var(--font-size-lg);
      line-height: 16px;
    }
    .link-accessibility,
    .link-eea,
    .link-privacy,
    .link-terms {
      max-width: 100%;
    }
  }
  